{% extends 'extends/base.html' %}
{% block body %}
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Easy Accommodation | No Brokerage</p>
						<h1>Mess</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".boys">Boys</li>
                            <li data-filter=".girls">girls</li>
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="/static/img/products/mess-1.jpg" alt=""></a>
						</div>
						<h3>Prakrir Hansh Mess</h3>
						<p class="product-price"><span>Rate</span> Rs. 1900 </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-eye"></i> View Details</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="/static/img/products/mess-2.jpg" alt=""></a>
						</div>
						<h3>Nibedita Mess</h3>
						<p class="product-price"><span>Rate</span> Rs. 2200 </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-eye"></i> View Details</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="/static/img/products/mess-3.jpg" alt=""></a>
						</div>
						<h3>Sanat Mess</h3>
						<p class="product-price"><span>Rate</span> Rs. 2100 </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-eye"></i> View Details</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="/static/img/products/mess-4.jpg" alt=""></a>
						</div>
						<h3>Bappan Mess</h3>
						<p class="product-price"><span>Rate</span> Rs. 1850 </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-eye"></i> View Details</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="/static/img/products/mess-5.jpg" alt=""></a>
						</div>
						<h3>Sayantan Mess</h3>
						<p class="product-price"><span>Rate</span> Rs. 2050  </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-eye"></i> View Details</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center ">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="/static/img/products/mess-6.jpg" alt=""></a>
						</div>
						<h3>Raj Mess</h3>
						<p class="product-price"><span>Rate</span> Rs. 2100 </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-eye"></i> View Details</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a class="active" href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end products -->

	{% endblock body %}