{% extends 'extends/base.html' %}
	{% block body %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Register</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- contact form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6 mb-5 mb-lg-0">
				 	<div id="form_status"></div>
					<div class="login-form">
						<form type="POST" id="fruitkha-contact" onSubmit="return valid_datas( this );">
							<p class="d-flex justify-content-center">
								<input type="text" placeholder="First Name" name="first_name" id="name">
								<input type="text" placeholder="Last Name" name="second_name" id="name">
							</p>
							<p class="d-flex justify-content-center">
								<input type="email" placeholder="Email" name="email" id="email">
								<input type="tel" placeholder="Mobile" name="mobile" id="mobile">
							</p>
							<p class="d-flex justify-content-center">
								<select name="gender" id="gender">
									<option selected>Gender</option>
									<option value="Male">Male</option>
									<option value="Female">Female</option>
									<option value="Not Specified">Not Specified</option>
								</select>
								<select name="ownerof" id="ownerof">
									<option selected>Owner of</option>
									<option value="Mess">Mess</option>
									<option value="PG">PG</option>
									<option value="Hostel">Hostel</option>
									<option value="Flat">Flat</option>
								</select>
							</p>
							<p class="d-flex justify-content-center">
								<input type="password" placeholder="Password" name="password" id="password">
								<input type="password" placeholder="Re-Password" name="re_password" id="password">
							</p>
							<p class="d-flex justify-content-center"><input type="submit" value="Register"></p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end contact form -->

	{% endblock body %}